/* prevent printing webpage */
@media print {
    html, body {
        display: none;
    }
}

@media screen and (width > 1440px) {
    .section-header {
        margin: 50px 0;
    }
    section {
        margin: 0 200px;
    }
    .section-wrapper {
        min-height: calc(100% - (75px * 2));
        padding: 75px 0;
        margin: 0;
    }
    #nav-wrapper {
        height: 100px;
        #nav-menu-open-btn {
            margin: 25px 25px 25px auto;
            i {
                --size: 50px;
                width: var(--size);
                height: var(--size);
            }
        }
    }
    #home-wrapper {
        flex-direction: row;
        
        /* Hero page to hold full height unless vertical offers too much space */
        padding: 0;
        min-height: 100vh;
        @media screen and (height >= 1000px) {
            min-height: auto;
        }
        
        #home-container-img {
            width: 50%;
            height: 100%;
            align-items: center;
            #home-img-wrapper {
                width: 75%;
                height: 75%;
            }
        }
        #home-container-text {
            width: 50%;
            height: 100%;
            align-items: center;
            justify-content: center;
            h2 {
                font-size: clamp(25px, 3.3vw, 44px);
                margin: 0 0 5px 2.5vw;
            }
            #home-name {
                font-size: clamp(120px, 8.25vw, 140px);
            }
            #home-title {
                font-size: clamp(86px, 5.75vw, 100px);
            }
        }
    }
    #about-wrapper {
        #about-p-wrapper {
            p {
                font-size: 1.75em;
                margin: 15px 0;
            }
        }
    }
    #skills-wrapper {
        min-height: calc(100vh - (75px * 2)); /* Need viewport data due to vertical image sizes. */
        #skills-hint {
            font-size: 1.3em;
        }
        #skills-category-wrapper {
            flex-direction: row;
            height: 75%;
            align-items: center;
            margin-top: 20px;
            .skills-category {
                height: 85%;
                width: 33%;
                margin: 0 50px 0 0;
                img {
                    aspect-ratio: 3/1;
                }
                h2 {
                    font-size: clamp(40px, 3vw, 64px);
                }
            }
        }
    }
    #skill-list {
        #skill-list-close-btn {
            top: 20px;
            right: 20px;
        }
        #skill-list-wrapper {
            margin: 30px auto;
            width: 55%;
            #skill-list-hint-wrapper { 
                .skill-list-hint-text,
                .skill-list-hint-rating {
                    font-size: 1.3em;
                }
            }
            #skill-list-content {
                margin-top: 40px;
                .skill-category {
                    .skill-entries {
                        .skill-entry {
                            .skill-icon {
                                margin-right: 50px;
                                i {
                                    width: 60px;
                                    height: 60px;
                                }
                            }
                            .skill-data {
                                margin: 25px 0;
                                .skill-data-wrapper {
                                    margin-bottom: 15px;
                                }
                                h3, h4 {
                                    font-size: 2em;
                                }
                                span {
                                    font-size: 1.5em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #experience-wrapper {
        #experience-list-wrapper {
            #experience-orientation {
                font-size: 1.2em;
            }
            ul {
                margin-top: 50px;
                li {
                    margin-bottom: 55px;
                    i {
                        --size: 50px;
                        width: var(--size);
                        height: var(--size);
                        min-width: var(--size);
                        min-height: var(--size);
                        margin-right: var(--size);
                    }
                    h3 {
                        font-size: 1.5em;
                        margin: 0 0 10px 0;
                    }
                    span {
                        font-size: 1.1em;
                        color: var(--theme-grey);
                    }
                }
            }
        }
    }
    #contact-wrapper {
        #contact-form-wrapper {
            margin-top: 30px;
            padding: 0 100px;
            form {
                --sidebuffer: 100px;
                padding: var(--sidebuffer);
                width: calc(100% - (var(--sidebuffer) * 2));
                max-width: 800px;
                h2 {
                    font-size: clamp(2em, 2.8vw, 2.3em);
                }
                label {
                    font-size: clamp(1.2em, 1.7vw, 1.4em);
                }
                h3,
                input,
                select,
                #contact-submit {
                    font-size: clamp(1.1em, 1.5vw, 1.3em);
                }
                h3 {
                    margin: 0 0 50px 0;
                }
            }
        }
    }
    #footer-wrapper {
        i, img {
            --size: 50px;
            width: var(--size);
            height: var(--size);
        }
    }
    @media screen and (height >= 1000px) {
        #skills {
            max-height: 1000px;
        }
        #skills-wrapper {
            #skills-category-wrapper {
                align-items: start;
            }
        }
    }
}

@media screen and (width <= 1440px) {
    .section-header {
        margin: 25px 0;
    }
    section {
        margin: 0 100px;
    }
    .section-wrapper {
        --bufferNavMinusHeadMargin: calc(100px - 30px);
        min-height: calc(100% - (50px * 2));
        padding: var(--bufferNavMinusHeadMargin) 0 50px 0;
        margin: 0;
    }
    #nav-wrapper {
        height: 100px;
        #nav-menu-open-btn {
            margin: 25px 25px 25px auto;
            i {
                --size: 50px;
                width: var(--size);
                height: var(--size);
            }
        }
    }
    #home-wrapper {        
        flex-direction: row;

        /* Hold full height (viewport) unless vertical offers too much space */
        padding: 0;
        min-height: 100vh;
        @media screen and (height >= 1000px) {
            min-height: auto;
            margin-top: 50px;
        }

        #home-container-img {
            width: 50%;
            height: 100%;
            align-items: center;
            #home-img-wrapper {
                width: 75%;
                height: 75%;
            }
        }
        #home-container-text {
            width: 50%;
            height: 100%;
            align-items: center;
            text-align: start;
            justify-content: center;
            h2 {
                font-size: clamp(25px, 3.3vw, 38px);
                margin: 0 0 5px 3vw;
            }
            #home-name {
                font-size: clamp(45px, 8.5vw, 122px);
            }
            #home-title {
                font-size: clamp(30px, 6vw, 86px);
            }
        }
    }
    #about-wrapper {
        #about-p-wrapper {
            p {
                font-size: 1.5em;
                margin: 10px 0;
            }
        }
    }
    #skills-wrapper {
        min-height: calc(100vh - (50px * 2)); /* Need viewport data due to vertical image sizes. */
        #skills-hint {
            font-size: 1.3em;
        }
        #skills-category-wrapper {
            height: 100%;
            align-items: center;
            margin-top: 15px;
            .skills-category {
                height: 75%;
                max-height: 600px;
                margin: 0 40px 0 0;
                img {
                    aspect-ratio: 3/1;
                }
                h2 {
                    font-size: clamp(24px, 3.5vw, 40px);
                }
            }
        }
    }
    #skill-list {
        #skill-list-close-btn {
            top: 20px;
            right: 20px;
        }
        #skill-list-wrapper {
            margin: 30px auto;
            width: 75%;
            #skill-list-hint-wrapper { 
                .skill-list-hint-text,
                .skill-list-hint-rating {
                    font-size: 1.2em;
                }
            }
            #skill-list-content {
                margin-top: 25px;
                .skill-category {
                    .skill-entries {
                        .skill-entry {
                            .skill-icon {
                                margin-right: 35px;
                                i {
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                            .skill-data {
                                margin: 7.5px 0;
                                .skill-data-wrapper {
                                    margin-bottom: 5px;
                                }
                                h3, h4 {
                                    font-size: 1.8em;
                                }
                                span {
                                    font-size: 1.4em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #experience-wrapper {
        #experience-list-wrapper {
            #experience-orientation {
                font-size: 1.0em;
            }
            ul {
                margin-top: 30px;
                li {
                    margin-bottom: 50px;
                    i {
                        --size: 45px;
                        width: var(--size);
                        height: var(--size);
                        min-width: var(--size);
                        min-height: var(--size);
                        margin-right: var(--size);
                    }
                    h3 {
                        font-size: 1.3em;
                        margin: 0 0 7.5px 0;
                    }
                    span {
                        font-size: 1.1em;
                        color: var(--theme-grey);
                    }
                }
            }
        }
    }
    #contact-wrapper {
        #contact-form-wrapper {
            margin-top: 30px;
            padding: 0 75px;
            form {
                --sidebuffer: 75px;
                padding: var(--sidebuffer);
                width: calc(100% - (var(--sidebuffer) * 2));
                h2 {
                    font-size: clamp(2em, 2.8vw, 2.3em);
                }
                label {
                    font-size: clamp(1.2em, 1.7vw, 1.4em);
                }
                h3,
                input,
                select,
                #contact-submit {
                    font-size: clamp(1.1em, 1.5vw, 1.3em);
                }
                h3 {
                    margin: 0 0 40px 0;
                }
            }
        }
    }
    #footer-wrapper {
        i, img {
            --size: 50px;
            width: var(--size);
            height: var(--size);
        }
    }
    @media screen and (height >= 1000px) {
        #skills {
            max-height: 1000px;
        }
        #skills-wrapper {
            #skills-category-wrapper {
                align-items: start;
            }
        }
    }
}

@media screen and (width <= 1024px) {
    #skills-wrapper {
        align-items: center;
        #skills-hint {
            font-size: 1.15em;
        }
        #skills-category-wrapper {
            flex-direction: row;
            .skills-category {
                width: 33%;
                margin: 0 15px 0 0;
            }
        }
    }
    #skill-list {
        #skill-list-wrapper {
            width: 80%;
            #skill-list-hint-wrapper { 
                .skill-list-hint-text,
                .skill-list-hint-rating {
                    font-size: 1em;
                }
            }
            #skill-list-content {
                margin-top: 15px;
                .skill-category {
                    .skill-entries {
                        .skill-entry {
                            .skill-icon {
                                margin-right: 25px;
                                i {
                                    width: 45px;
                                    height: 45px;
                                }
                            }
                            .skill-data {
                                h3, h4 {
                                    font-size: clamp(1.4em, 2.85vw, 1.6em);
                                }
                                span {
                                    font-size: clamp(1em, 2vw, 1.3em)
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #experience-wrapper {
        #experience-list-wrapper {
            ul {
                li {
                    i {
                        --size: 40px;
                        width: var(--size);
                        height: var(--size);
                        min-width: var(--size);
                        min-height: var(--size);
                        margin-right: var(--size);
                    }
                }
            }
        }
    }
    #contact-wrapper {
        #contact-form-wrapper {
            margin-top: 25px;
            padding: 0 50px;
            form {
                --sidebuffer: 50px;
                padding: var(--sidebuffer);
                width: calc(100% - (var(--sidebuffer) * 2));
                h2 {
                    font-size: clamp(1.8em, 3.5vw, 2em);
                }
                label {
                    font-size: clamp(1.1em, 2.1vw, 1.3em);
                }
                h3,
                input,
                select,
                #contact-submit {
                    font-size: clamp(1em, 1.9vw, 1.2em);
                }
                h3 {
                    margin: 0 0 30px 0;
                }
            }
        }
    }
}

@media screen and (width <= 768px) {
    .section-header {
        margin: 30px 0;
    }
    section {
        margin: 0 40px;
    }
    .section-wrapper {
        --bufferNavMinusHeadMargin: calc(60px - 30px);
        min-height: calc(100vh - (30px * 2));
        padding: var(--bufferNavMinusHeadMargin) 0 30px 0;
        margin: 0;
    }
    #nav-wrapper {
        height: 60px;
        #nav-menu-open-btn {
            margin: 10px 25px 10px auto;
            i {
                --size: 40px;
                width: var(--size);
                height: var(--size);
            }
        }
    }
    #home-wrapper {
        flex-direction: column-reverse;
        margin-top: 60px; /* Add to prevent navbar (with blur) to cut in. */
        height: calc(100vh - 60px);
        min-height: fit-content;
        @media screen and (height <= 700px) { /* Hero page cuts into navbar on short displays. */
            min-height: auto;
            height: auto;
        }
        #home-container-img {            
            width: 100%;
            height: 70%;
            align-items: start;
            #home-img-wrapper {
                width: 100%;
                height: 85%;
            }
        }
        #home-container-text {
            width: 100%;
            height: 30%;
            min-height: fit-content;
            justify-content: end;
            margin: 0 0 25px 0;
            text-align: center;
            span {
                text-transform: uppercase;
            }
            h2 {
                font-size: clamp(25px, 6vw, 50px);
                margin: 0 0 5px 0;
            }
            #home-name {
                font-size: clamp(55px, 16vw, 130px);
            }
            #home-title {
                font-size: clamp(40px, 12vw, 100px);
            }
        }
    }
    #about-wrapper {
        #about-p-wrapper {
            p {
                font-size: 1.25em;
            }
        }
    }
    #skills-wrapper {
        #skills-hint {
            font-size: 1em;
        }
        #skills-category-wrapper {
            flex-direction: column;
            height: 80%;
            margin-top: 10px;
            .skills-category {
                height: 33%;
                width: 100%;
                margin: 0 0 25px 0;
                img {
                    min-height: 185px;
                }
                h2 {
                    font-size: clamp(25px, 6.5vw, 60px);
                }
            }
        }
    }
    #skill-list {
        #skill-list-wrapper {
            width: 85%;
            #skill-list-hint-wrapper { 
                .skill-list-hint-text,
                .skill-list-hint-rating {
                    font-size: 0.8em;
                }
            }
            #skill-list-content {
                margin-top: 10px;
                .skill-category {
                    .skill-entries {
                        .skill-entry {
                            .skill-icon {
                                i {
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #experience-wrapper {
        #experience-list-wrapper {
            ul {
                li {
                    margin-bottom: 40px;
                    i {
                        --size: 35px;
                        width: var(--size);
                        height: var(--size);
                        min-width: var(--size);
                        min-height: var(--size);
                        margin-right: var(--size);
                    }
                    h3 {
                        font-size: 1.2em;
                    }
                    span {
                        font-size: 1em;
                    }
                }
            }
        }
    }
    #contact-wrapper {
        #contact-form-wrapper {
            margin-top: 20px;
            padding: 0 8vw;
            form {
                --sidebuffer: 40px;
                padding: var(--sidebuffer);
                width: calc(100% - (var(--sidebuffer) * 2));
                h2 {
                    font-size: clamp(1.6em, 5.3vw, 1.8em);
                }
            }
        }
    }
    #footer-wrapper {
        i, img {
            --size: 40px;
            width: var(--size);
            height: var(--size);
        }
    }
}

/* support starts at 320px width */
@media screen and (width <= 480px) {
    section {
        margin: 0 30px;
    }
    #about-wrapper {
        #about-p-wrapper {
            p {
                font-size: 1.1em;
            }
        }
    }
    #skills-wrapper {
        #skills-hint {
            font-size: 1em;
        }
        #skills-category-wrapper {
            margin-top: 7.5px;
        }
    }
    #skill-list {
        #skill-list-close-btn {
            top: 15px;
            right: 15px;
        }
        #skill-list-wrapper {
            margin: 30px;
            width: auto;
            #skill-list-content {
                .skill-category {
                    .skill-entries {
                        .skill-entry {
                            .skill-icon {
                                margin-right: 15px;
                                i {
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                            .skill-data {
                                h3, h4 {
                                    font-size: clamp(1.2em, 5vw, 1.4em);
                                }
                                span {
                                    font-size: clamp(0.9em, 3.8vw, 1.1em)
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #experience-wrapper {
        #experience-list-wrapper {
            ul {
                li {
                    i {
                        --size: 30px;
                        width: var(--size);
                        height: var(--size);
                        min-width: var(--size);
                        min-height: var(--size);
                        margin-right: var(--size);
                    }
                    h3 {
                        font-size: 1.1em;
                    }
                    span {
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
    #contact-wrapper {
        #contact-form-wrapper {
            margin-top: 15px;
            padding: 0;
            form {
                --sidebuffer: 15px;
                padding: var(--sidebuffer);
                width: calc(100% - (var(--sidebuffer) * 2));
                h2 {
                    font-size: 1.4em;
                }
                label {
                    font-size: 1em;
                }
                h3,
                input,
                select,
                #contact-submit {
                    font-size: 0.9em;
                }
            }
        }
    }
}
