/* prevent printing webpage */
@media print {
    html, body {
        display: none;
    }
}

@media screen and (width > 1440px) {
    .section-header {
        margin: 50px 0;
    }
    section {
        margin: 0 200px;
    }
    .section-wrapper {
        min-height: calc(100vh - (75px * 2));
        padding: 75px 0;
        margin: 0;
    }
    #home-wrapper {
        flex-direction: row;
        /* Hero page to hold full height unless vertical offers too much space */
        @media screen and (height >= 1000px) {
            min-height: auto;
        }
        #home-container-img {
            width: 50%;
            height: 100%;
            align-items: center;
            #home-img-wrapper {
                width: 75%;
                height: 75%;
            }
        }
        #home-container-text {
            width: 50%;
            height: 100%;
            align-items: center;
            justify-content: center;
            h2 {
                font-size: clamp(25px, 3.3vw, 44px);
                margin: 0 0 5px 2.5vw;
            }
            #home-name {
                font-size: clamp(120px, 8.25vw, 140px);
            }
            #home-title {
                font-size: clamp(86px, 5.75vw, 100px);
            }
        }
    }
}

@media screen and (width <= 1440px) {
    .section-header {
        margin: 25px 0;
    }
    section {
        margin: 0 100px;
    }
    .section-wrapper {
        min-height: calc(100vh - (50px * 2));
        padding: 50px 0;
        margin: 0;
    }
    #home-wrapper {
        flex-direction: row;
        /* Hero page to hold full height unless vertical offers too much space */
        @media screen and (height >= 1000px) {
            min-height: auto;
        }
        #home-container-img {
            width: 50%;
            height: 100%;
            align-items: center;
            #home-img-wrapper {
                width: 75%;
                height: 75%;
            }
        }
        #home-container-text {
            width: 50%;
            height: 100%;
            align-items: center;
            text-align: start;
            justify-content: center;
            h2 {
                font-size: clamp(25px, 3.3vw, 38px);
                margin: 0 0 5px 3vw;
            }
            #home-name {
                font-size: clamp(45px, 8.5vw, 122px);
            }
            #home-title {
                font-size: clamp(30px, 6vw, 86px);
            }
        }
    }
}

@media screen and (width <= 1024px) {
    
}

@media screen and (width <= 768px) {
    .section-header {
        margin: 30px 0;
    }
    section {
        margin: 0 40px;
    }
    .section-wrapper {
        min-height: calc(100vh - (30px * 2));
        padding: 30px 0;
        margin: 0;
    }
    #home-wrapper {
        flex-direction: column-reverse;
        height: 100vh;
        min-height: fit-content;
        #home-container-img {            
            width: 100%;
            height: 70%;
            align-items: start;
            #home-img-wrapper {
                width: 100%;
                height: 85%;
            }
        }
        #home-container-text {
            width: 100%;
            height: 30%;
            min-height: fit-content;
            justify-content: end;
            margin: 0 0 25px 0;
            text-align: center;
            span {
                text-transform: uppercase;
            }
            h2 {
                font-size: clamp(25px, 6vw, 50px);
                margin: 0 0 5px 0;
            }
            #home-name {
                font-size: clamp(55px, 16vw, 130px);
            }
            #home-title {
                font-size: clamp(40px, 12vw, 100px);
            }
        }
    }
    #skills-wrapper {
        #skills-category-wrapper {
            .skills-category {
                img {
                    min-height: 185px;
                    margin: 7.5px 0;
                }
            }
        }
    }
    #skill-list {
        #skill-list-close {
            top: 20px;
            right: 20px;
        }
        #skill-list-wrapper {
            margin: 30px 40px;
            #skill-list-content {
                .skill-category {
                    .skill-entries {
                        .skill-entry {
                            .skill-icon {
                                margin-right: 25px;
                                i {
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* support starts at 320px width */
@media screen and (width <= 480px) {
    section {
        margin: 0 30px;
    }
    #skill-list {
        #skill-list-close {
            top: 15px;
            right: 15px;
        }
        #skill-list-wrapper {
            margin: 30px;
            #skill-list-content {
                .skill-category {
                    .skill-entries {
                        .skill-entry {
                            .skill-icon {
                                margin-right: 15px;
                                i {
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
