<div id="experience-wrapper" class="section-wrapper">
    <header>
        <h1 class="section-header primary-header">Know my past</h1>
    </header>
    <div id="experience-list-wrapper">
        <span id="experience-orientation">from 80 years ago till now...</span>
        <ul>
            <li>
                <i class="icon-base icon-Study"></i>
                <div class="experience-entry-wrapper">
                    <h3>Tilistra Magic Academy</h3>
                    <span>
                        Basic and Advanced Magic, 8 years
                    </span>
                </div>
            </li>
            <li>
                <i class="icon-base icon-Study"></i>
                <div class="experience-entry-wrapper">
                    <h3>Helons Army, Special Division of Sorcerers</h3>
                    <span>
                        Advanced+ Magic and War Tactics, 3 years
                    </span>
                </div>
            </li>
            <li>
                <i class="icon-base icon-Fight"></i>
                <div class="experience-entry-wrapper">
                    <h3>Fourth Demon War</h3>
                    <span>
                        Demon Land, 6 years
                    </span>
                </div>
            </li>
            <li>
                <i class="icon-base icon-Study"></i>
                <div class="experience-entry-wrapper">
                    <h3>Path of Darkness, teaching myself</h3>
                    <span>
                        Secret Magic and Lost Techniques, 8 years
                    </span>    
                </div>
            </li>
            <li>
                <i class="icon-base icon-Fight"></i>
                <div class="experience-entry-wrapper">
                    <h3>Great Kings War</h3>
                    <span>
                        North Empire, 4 years
                    </span>
                </div>
            </li>
            <li>
                <i class="icon-base icon-Adventure"></i>
                <div class="experience-entry-wrapper">
                    <h3>Adventuring</h3>
                    <span>
                        East and South Empire, 11 years
                    </span>
                </div>
            </li>
            <li>
                <i class="icon-base icon-Study"></i>
                <div class="experience-entry-wrapper">
                    <h3>Teaching/Research at Gislim Magic University</h3>
                    <span>
                        Elite Magic, 24 years
                    </span>
                </div>
            </li>
            <li>
                <i class="icon-base icon-Fight"></i>
                <div class="experience-entry-wrapper">
                    <h3>Fifth Demon War</h3>
                    <span>
                        North Empire, 1 year
                    </span>
                </div>
            </li>
            <li>
                <i class="icon-base icon-Adventure"></i>
                <div class="experience-entry-wrapper">
                    <h3>Adventuring</h3>
                    <span>
                        West Empire, 15 years
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>