<div id="experience-wrapper" class="section-wrapper">
    <h1 class="section-header primary-header">Know my past</h1>
    <div id="experience-list-wrapper">
        <span id="experience-orientation">from 80 years ago till now...</span>
        <ul>
            <li>
                <i class="icon-base icon-Study"></i>
                <span>
                    Tilistra Magic Academy<br>
                    (Basic and Advanced Magic, 8 years)
                </span>
            </li>
            <li>
                <i class="icon-base icon-Study"></i>
                <span>
                    Helons Army, Special Division of Sorcerers<br>
                    (Advanced+ Magic and War Tactics, 3 years)
                </span>
            </li>
            <li>
                <i class="icon-base icon-Fight"></i>
                <span>
                    Fourth Demon War<br>
                    (Demon Land, 6 years)
                </span>
            </li>
            <li>
                <i class="icon-base icon-Study"></i>
                <span>
                    Path of Darkness, teaching myself<br>
                    (Secret Magic and Lost Techniques, 8 years)
                </span>    
            </li>
            <li>
                <i class="icon-base icon-Fight"></i>
                <span>
                    Great Kings War<br>
                    (North Empire, 4 years)
                </span>
            </li>
            <li>
                <i class="icon-base icon-Adventure"></i>
                <span>
                    Adventuring<br>
                    (East and South Empire, 11 years)
                </span>
            </li>
            <li>
                <i class="icon-base icon-Study"></i>
                <span>
                    Teaching/Research at Gislim Magic University<br>
                    (Elite Magic, 24 years)
                </span>
            </li>
            <li>
                <i class="icon-base icon-Fight"></i>
                <span>
                    Fifth Demon War<br>
                    (North Empire, 1 year)
                </span>
            </li>
            <li>
                <i class="icon-base icon-Adventure"></i>
                <span>
                    Adventuring<br>
                    (West Empire, 15 years)
                </span>
            </li>
        </ul>
    </div>
</div>