<div id="skill-list" role="dialog" aria-modal="true" aria-labelledby="skill-list-title">
    <button type="button" id="skill-list-close" aria-label="Close">
        <i class="icon-base icon-Close"></i>
    </button>

    <div id="skill-list-wrapper">
        <h1 id="skill-list-title" class="primary-header"></h1>
        <div id="skill-list-hint-wrapper">
            <span class="skill-list-hint-text">Spells rated from Easy</span>
            <span class="skill-list-hint-rating">*</span>
            <span class="skill-list-hint-text">to Legendary</span>
            <span class="skill-list-hint-rating">* * * * *</span>
        </div>
        <div id="skill-list-content">
        </div>
    </div>

    <template id="skill-category-template">
        <section class="skill-category">
            <h2 class="skill-category-title"></h2>
            <div class="skill-entries"></div>
        </section>
    </template>

    <template id="skill-entry-template">
        <div class="skill-entry">
            <div class="skill-icon"><i></i></div>
            <div class="skill-data">
                <div class="skill-data-wrapper">
                    <h4 class="skill-data-level"></h4>
                    <h3 class="skill-data-name"></h3>
                </div>
                <span class="skill-data-description"></span>
            </div>
        </div>
    </template>
</div>