<div id="skills-wrapper" class="section-wrapper">
    <h1 class="section-header primary-header">What are my skills?</h1>
    <div id="skills-category-wrapper">
        <div class="skills-category">
            <img src="assets/skill-enchantment-horizontal.jpg" alt="Enchantment image failed to load.">
            <h2>Enchantment</h2>
        </div>
        <div class="skills-category">
            <img src="assets/skill-elemental-horizontal.jpg" alt="Elemental image failed to load.">
            <h2>Elemental</h2>
        </div>
        <div class="skills-category">
            <img src="assets/skill-illusion-horizontal.jpg" alt="Illusion image failed to load.">
            <h2>Illusion</h2>
        </div>
    </div>
</div>