<div id="skills-wrapper" class="section-wrapper">
    <header>
        <h1 class="section-header primary-header">Discover my skills</h1>
    </header>
    <span id="skills-hint">Click to discover my spells...</span>
    <div id="skills-category-wrapper">
        <div class="skills-category" data-skill="Enchantment" tabindex="0">
            <img src="assets/skill-enchantment-horizontal.jpg" alt="Enchantment image failed to load.">
            <h2>Enchantment</h2>
        </div>
        <div class="skills-category" data-skill="Elemental" tabindex="0">
            <img src="assets/skill-elemental-horizontal.jpg" alt="Elemental image failed to load.">
            <h2>Elemental</h2>
        </div>
        <div class="skills-category" data-skill="Illusion" tabindex="0">
            <img src="assets/skill-illusion-horizontal.jpg" alt="Illusion image failed to load.">
            <h2>Illusion</h2>
        </div>
    </div>
</div>