#skills-wrapper {
    #skills-hint {
        font-style: italic;
        text-align: center;
        color: var(--theme-secondary);
    }
    #skills-category-wrapper {
        width: 100%;
        justify-content: stretch;
        .skills-category {
            position: relative;
            border-radius: 5px;
            img {
                width: calc(100% - (2px * 2));
                object-fit: cover;
                border: 2px solid var(--theme-body-text);
                border-radius: 5px;
            }
            &:hover {
                cursor: pointer;
            }
            h2 {
                display: flex;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto 0;
                margin-inline: auto;
                width: fit-content;
                height: fit-content;
                padding: 0;
                color: #f0f4f7;
                font-weight: 300;
            }
            &:hover {
                box-shadow: 2px 2px 16px var(--theme-primary);
            }
        }
    }
}