#about-wrapper {
    #about-p-wrapper {
        flex-direction: column;
        margin: 15px 0;
        p {
            display: flex;
            line-height: 1.5em;
        }
    }
    #about-img-wrapper {
        border: 2px solid var(--theme-body-text);
        border-radius: 5px;
        margin-top: 25px;
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
}