<div id="about-wrapper" class="section-wrapper">
    <header>
        <h1 class="section-header primary-header">Who am i?</h1>
    </header>
    <div id="about-p-wrapper">
        <p>
            My name is Azar and I was born the child of ordinary human parents, whom I loved dearly until the Third Demon War took them from me.
            In a moment of great despair, my magic powers ignited, and after the war I decided to become a powerful magician and protect the weak.
        </p>
        <p>
            Eighty years and countless challenges later, I had become a powerful magician and protector, wandering the land to help wherever needed and learning continuously.
        </p>
        <p>
            On my journey, I discovered secret techniques and powerful spells that, among other things, make it possible to stop aging or to change my face and appearance in the eyes of others. That way, I can also pass as an adventurer from time to time.
        </p>
    </div>
    <div id="about-img-wrapper">
        <img src="assets/about.jpg" alt="About image failed to load.">
    </div>
</div>