#nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    width: 100vw;
    z-index: 999;
    #nav-menu-open-btn {
        background-color: transparent;
        border: none;
        color: var(--theme-text-body);
        &:hover {
            cursor: pointer;
            color: white;
        }
    }
}

#nav-menu-full {
    display: none;
    position: fixed;
    inset: 0;
    overflow-y: auto;
    z-index: 999;
    background-color: #1f1d1d;
    #nav-menu-close-btn {
        display: flex;
        position: absolute;
        top: 25px;
        right: 25px;
        background-color: transparent;
        border: none;
        color: var(--theme-text-body);
        padding: 0;
        padding-inline: 0;
        padding-block: 0;
        margin: 0;
        &:hover {
            cursor: pointer;
            color: white;
        }
        i {
            --size: 40px;
            width: var(--size);
            height: var(--size);
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

        li {
            margin: 25px 0;
            font-size: 1.75em;
            &:hover {
                cursor: pointer;
                text-decoration-line: underline;
            }
            &:focus {
                text-decoration-line: underline;
            }
        }
    }
}