<div id="nav-wrapper">
    <i class="icon-base icon-BurgerMenu" id="nav-menu-open-btn"></i>
</div>

<div id="nav-menu-full">
    <div id="nav-menu-close">
        <i class="icon-base icon-Close" id="nav-menu-close-btn"></i>
    </div>
    <ul>
        <li data-nav="home" class="nav-menu-li">Home</li>
        <li data-nav="about" class="nav-menu-li">About</li>
        <li data-nav="skills" class="nav-menu-li">Skills</li>
        <li data-nav="experience" class="nav-menu-li">Experience</li>
        <li data-nav="contact" class="nav-menu-li">Contact</li>
    </ul>
</div>