<div id="nav-wrapper">
    <button type="button" id="nav-menu-open-btn" aria-label="Open menu" aria-expanded="false" aria-controls="nav-menu-full">
        <i class="icon-base icon-BurgerMenu" aria-hidden="true"></i>
    </button>
</div>

<div id="nav-menu-full" role="dialog" aria-modal="true" aria-label="nav menu">
    <button type="button" id="nav-menu-close-btn" aria-label="Close menu">
        <i class="icon-base icon-Close" aria-hidden="true"></i>
    </button>
    <ul>
        <li><a href="#home" data-nav="home" class="nav-menu-li primary-header">Home</a></li>
        <li><a href="#about" data-nav="about" class="nav-menu-li primary-header">About</a></li>
        <li><a href="#skills" data-nav="skills" class="nav-menu-li primary-header">Skills</a></li>
        <li><a href="#experience" data-nav="experience" class="nav-menu-li primary-header">Experience</a></li>
        <li><a href="#contact" data-nav="contact" class="nav-menu-li primary-header">Contact</a></li>
    </ul>
</div>