/* special stylesheets */
@import url("stylesheets/media.css");
@import url("stylesheets/icons.css");

/* page component stylesheets */
@import url("app/components/pages/home/home.component.css");
@import url("app/components/pages/about/about.component.css");
@import url("app/components/pages/skills/skills.component.css");
@import url("app/components/pages/experience/experience.component.css");
@import url("app/components/pages/contact/contact.component.css");

/* common component stylesheets */
@import url("app/components/common/nav/nav.component.css");
@import url("app/components/common/animation/healing/healing.component.css");
@import url("app/components/common/animation/portal/portal.component.css");
@import url("app/components/common/animation/destruction/destruction.component.css");
@import url("app/components/common/modal/skill-list/skill-list.component.css");
@import url("app/components/common/footer/footer.component.css");


:root {
    --theme-body-text: #C2CBD3;
    --theme-primary: #ffbb00;
    --theme-secondary: #996f4e;
    --theme-grey: #808080;
}

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
    cursor: context-menu;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #313851;
    color: var(--theme-body-text);

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

section,
header,
div {
    display: flex;
}

.primary-header {
    background: linear-gradient(61deg,rgba(32, 140, 248, 1) 27%, rgba(235, 235, 235, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.section-header {
    font-size: clamp(28px, 8vw, 80px);
    font-weight: 300;
    text-align: center;
    width: 100%;
}

.section-wrapper {
    width: 100vw;
    flex-direction: column;
}

footer {
    height: 75px;
}